/* Global styles */
body {
    font-family: 'Arial', sans-serif;               /* Set default font */
    background-color: #E0E8FF;                     /* Light blue background color */
    margin: 0;                                     /* Remove default margin */
    padding: 0;                                    /* Remove default padding */
    color: #3D7DCA;                                /* Default text color */
}

/* Main content container styling */
.container {
    max-width: 960px;                              /* Set maximum width */
    margin: 0 auto;                                /* Center the container */
    padding: 20px;                                 /* Internal spacing */
    background-color: #fff;                        /* White background color */
    border-radius: 8px;                            /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);     /* Subtle shadow for depth */
}

/* Header 1 styling */
h1 {
    font-size: 2em;                                /* Font size */
    margin-bottom: 20px;                           /* Space below the header */
    color: #003366;                                /* Dark blue text color */
}

/* Styling for individual Pokémon cards */
.pokemon-card {
    display: inline-block;                         /* Inline-block display */
    width: 150px;                                  /* Set width */
    margin: 10px;                                  /* External spacing */
    padding: 15px 10px;                            /* Internal spacing */
    border: 1px solid #ccc;                        /* Border color */
    border-radius: 8px;                            /* Rounded corners */
    background-color: #f2f2f2;                     /* Card background color */
    text-transform: capitalize;                    /* Capitalize text (for Pokémon names) */
    text-align: center;                            /* Center text */
    cursor: pointer;                               /* Pointer cursor on hover */
    transition: all 0.3s;                          /* Transition for hover effects */
}

/* Hover effects for Pokémon cards */
.pokemon-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);     /* Shadow on hover */
    background-color: #e0e0e0;                     /* Darker background on hover */
    transform: translateY(-5px);                   /* Lift effect on hover */
}

/* Image styles */
img {
    max-width: 100%;                               /* Ensure image doesn't overflow its container */
    border-radius: 50%;                            /* Rounded image */
    transition: all 0.3s;                          /* Transition for hover effect */
}

/* Image hover effect */
img:hover {
    transform: scale(1.05);                        /* Slightly scale up image on hover */
}

/* Styling for lists */
ul {
    list-style-type: none;                         /* Remove bullet points */
    padding: 0;                                    /* Remove default padding */
}

/* Styling for list items */
li {
    padding: 5px 0;                                /* Space between list items */
    font-size: 1.2em;                              /* Font size */
}

/* Grid layout for displaying Pokémon stats */
#pokemonStats {
    display: grid;                                 
    grid-template-columns: repeat(2, 1fr);         /* Two columns grid */
    gap: 10px;                                     /* Gap between grid items */
}

/* Search bar styling */
.search-bar {
    display: flex;                                 /* Flexbox for alignment */
    justify-content: center;                       /* Center content */
    margin-bottom: 20px;                           /* Margin at the bottom */
    position: relative;                            /* Relative positioning to position inner elements */
    width: 100%;
    max-width: 300px;                              /* Maximum width */
    margin: 20px auto;                             /* Center the search bar */
}

/* Search input styling */
#pokemonSearch {
    padding: 10px;                                 /* Internal spacing */
    font-size: 16px;                               /* Font size */
    border: 1px solid #007bff;                     /* Border color */
    border-radius: 50px;                           /* Rounded borders */
    outline: none;                                 /* Remove default outline */
    width: 100%;                                   /* Full width */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);     /* Subtle shadow */
    transition: box-shadow 0.3s;                   /* Transition for focus effect */
}

/* Search input focus effect */
#pokemonSearch:focus {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);    /* Shadow on focus */
}

/* Styling for search button */
#searchButton {
    position: absolute;                            /* Absolute positioning */
    right: 10px;                                   /* Positioned to the right */
   
